<div class="col-md-6 col-md-offset-3">
  <h2>New comment for <%=@picture.title%></h2>
  <div class="form-group">
    <%= form_for @comment, url:picture_comments_path(@picture)do |f| %>
      <div>
        <%= f.text_area :post, placeholder: "Comment", size:"60x10", class:"form-control" %>
      </div>
      <br>
      <div>
      <%= f.submit "Submit" ,class:"btn btn-primary"%>
      <%= button_to "Back", picture_path(@picture), :method => "get", class: "btn btn-small btn-default" %>
    <% end %>
    </div>
  </div>
</div>
