<section class="profile-layout">
<main class="layout layout-1">
  <article class="profile-1">
    <header class="bio-info">
      <div class="profile-img">
        <h3><%= @user.first_name %>'s Profile</h3>
        <h3><%= @user.email %>'s Profile</h3>
        <%= image_tag "default-placeholder.png", size:"260x200" %>
      </div>
      <div class="profile-info">
        <p><strong>First Name: </strong><%= @user.first_name %></p>
        <p><strong>Last Name: </strong><%= @user.last_name %></p>
        <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary" %>
      </div>
    </header>

    <article class="index-1 col-md-10 col-md-offset-1">
     <div class="row">
       <% @pictures.each do |picture| %>
           <section class="teaser col-md-4">
             <h5>Images</h5>
             <%= cl_image_tag(picture.pic_img_url) %>
           </section>
       <% end %>
     </div>
   </article>
  </article>
</main>
</section>
