<section class="profile-layout">
  <main class="layout layout-1">
    <article class="profile-1">
      <header class="bio-info">
        <div class="profile-img">
          <h3><%= @user.first_name %>'s Profile</h3>
          <h3><%= @user.email %>'s Profile</h3>
          <%= image_tag "default-placeholder.png", size:"260x200" %>
        </div>
        <div class="profile-info">
          <p><strong>First Name: </strong><%= @user.first_name %></p>
          <p><strong>Last Name: </strong><%= @user.last_name %></p>
          <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary" %>
          <%= link_to "Upload Image", new_picture_path, class:"btn btn-default" %>
        </div>
        <div id="picz" class="transitions-enabled">
          <% @pictures.each do |picture| %>
            <div class="box">
              <a href="http://localhost:3000/pictures/<%= picture.id %>"><img src="<%= picture.pic_img_url %>"></a>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= will_paginate @pictures %>
        </div>
    </article>
  </main>
</section>
