<section class="profile-layout">
  <main class="layout layout-1">
    <article class="profile-1">
      <header class="bio-info">
        <div class="profile-img">
          <%= cl_image_tag(@user.profile_picture.url, :width=>110, :height=>110, :gravity=>"face", :crop=>"crop")%>

          <%= form_for @user do |f| %>
          <%= f.file_field :profile_picture %>
          <%= f.hidden_field(:profile_picture_cache) %>
          <%= f.submit "Submit" %>
          <% end %>
        </div>

          <h3><%= @user.first_name %>'s Profile</h3><br>
          <br>
          <h3><%= @user.email %>'s Profile</h3>
        <div class="profile-info">
          <p><strong>First Name: </strong><%= @user.first_name %></p>
          <p><strong>Last Name: </strong><%= @user.last_name %></p>
          <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary" %>
          <%= link_to "Upload Image", new_picture_path, class:"btn btn-default" %>
        </div>
    </article>
  </main>
</section>
<div id="picz" class="transitions-enabled">
  <% @pictures.each do |picture| %>
    <div class="box">
      <%= link_to cl_image_tag(picture.pic_img_url), "/pictures/#{picture.id}" %>
    </div>
  <% end %>
</div>
<div class="col-md-6">
  <%= will_paginate @pictures %>
</div>
