<div class="container">
  <div class="bio-info">
    <section class="teaser col-md-4 col-md-offset-4">
      <h3><%= @user.email %>'s Personal Feed</h3>
      <%= image_tag "default-placeholder.png", size:"260x200" %>
      <p><strong>First Name: </strong><%= @user.first_name %></p>
      <p><strong>Last Name: </strong><%= @user.last_name %></p>
    </section>

    <%= link_to "Settings", edit_user_path(@user), :class=> "glyphicon glyphicon-wrench" %>
  </div>
</div>
