<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= cl_image_tag(@picture.pic_img_url, :height => "100%", :width => "100%",class:"img-responsive" , :crop => :fill, :fetch_format => :auto) %>
        <div class="row">
          <div class="heart col-md-12">
            <%= link_to like_picture_path(@picture), method: :put, class:"pull-left" do %>
            <i class="glyphicon glyphicon-heart red-glif"></i>
            <%= @picture.get_upvotes.size %>
            <% end %>
          </div>
        </div>

      <div class="row">
        <div class="user col-md-4">
          <%= cl_image_tag(@user.profile_picture.url, :width => 30, :height => 30)%>
          <strong><%= @picture.user.first_name %></strong>
        </div>

        <div class="title col-md-4">
          <strong><%= @picture.title%></strong>
        </div>

        <div class="delete col-md-4">
           <% if user_signed_in? %>
             <%= link_to "Delete", picture_path(@picture), data: {:confirm=>'Are you sure you want to delete this comment?'},method: :delete, class: "btn btn-small btn-default pull-right" %>
           <% end %>
        </div>
      </div>




      <strong> Tags:</strong><%= raw @picture.tags.map(&:name).map { |t| link_to t, tag_pictures_path(t) }.join(', ') %>
       <br>
        <div class="light-well"data-spy="scroll" data-target="#myScrollspy" data-offset="15">
          <% if user_signed_in? %>
          <%= link_to "Add Comment", new_picture_comment_path(@picture),:class =>"btn btn-info btn-md btn-block" %>
          <% end %>
          <% @comments.each do |c| %>
            <table class="table table-striped table-hover table-fixed">
              <thead>
                <tr>
                  <th><%= c.user.first_name %>
                    <%= link_to "/pictures/#{@picture.id}/comments/#{c.id}", data: {:confirm=>'Are you sure you want to delete this comment?'}, method: :delete, class: "pull-right" do %>
                    <i class="glyphicon glyphicon-trash"></i>
                    <% end %>
                    <%= link_to edit_picture_comment_path(@picture,c), method: :get, class: " pull-right" do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                    <% end %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Comment:   </strong><%= c.post %>
                  </td>
                </tr>
                <br>
              </tbody>
            </table>
          <% end %>
        </div>


    </div>
  </div>
</div>
