<div class="index-1 col-md-8 col-md-offset-2">
  <div class="panel panel-default teaserShow">
    <div class="panel-heading">
      <%= cl_image_tag(@picture.pic_img_url, :height => 450, class:"img-responsive" , :crop => :fill, :fetch_format => :auto) %>
      <strong><%= @picture.title %></strong><br />
      <strong>tags: </strong><%= raw @picture.tags.map(&:name).map { |t| link_to t, tag_pictures_path(t) }.join(', ') %>
    </div>
    <div class="panel-body">
      <strong><th><%= @picture.user.first_name %></th></strong>
      <% @comments.each do |c| %></h4>
        <table class="table table-striped">
          <tbody>
            <tr>
              <th><%= c.user.first_name %>
              <td><%= c.post %>
                <%= button_to "/pictures/#{@picture.id}/comments/#{c.id}", data: {:confirm=>'Are you sure you want to delete this comment?'}, method: :delete, class: "btn btn-small btn-danger pull-right" do %>
                <i class="glyphicon glyphicon-trash"></i>
                <% end %>
                <%= button_to edit_picture_comment_path(@picture,c), method: :get, class: "btn btn-small btn-default pull-right" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-6">
          <%= link_to like_picture_path(@picture), method: :put, class:"btn btn-default" do %>
            <div class="glyphicon glyphicon-heart"></div>
            <%= @picture.get_upvotes.size %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to "Delete", picture_path(@picture), data: {:confirm=>'Are you sure you want to delete this comment?'},method: :delete, class: "btn btn-small btn-danger" %>
            <%= link_to "Add Comment", new_picture_comment_path(@picture),:class =>"btn btn-small btn-default" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
