<!DOCTYPE html>
<html>
<head>
  <title>PhotoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="home" style="background-color: #fafafa">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a><%= link_to "Flick-A-Gram", root_path, class: "navbar-brand" %></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "News Feed", pictures_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        </ul>
        <% else %>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Create Account", new_user_registration_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>

</body>
</html>
